

.cabecalho {

    text-align: center;
    
 
}

.cabecalho nav ul {

    text-align: center;
    border-bottom: 3px solid black;
}

.cabecalho nav li {
    display: inline-block;
    color:#0000;
   

}

.cabecalho nav li a {
    display: block;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: #000000;


}

.cabecalho nav li a:hover {
   color: coral;


}
h3{
text-align: center;


}

p{

    text-align: center;
}

.p{

    text-align: center;
}


.texto {

text-align: right;

}

.alinhar{
text-align: center;
margin-bottom: 40px;
margin-top: 20px;
font-size: 25px;
font-weight: 500;
}
hr{

    border-bottom: 3px solid black;
   
}

.azul{

    color: blue;
}
.mod-2{

text-align: center;

}
.item-2{

padding-top:60px;
}